/* definitions for a "simpleRating" class */
.RatingDisplay.simpleRating .RatingDisplayStarContent {
  color: lightgray;
  filter: grayscale(1);
}
.RatingDisplay.simpleRating .RatingDisplayStarContent.filled {
  color: purple;
  filter: none;
}
