.RatingDisplayStar {
  display: flex;
  position: relative;
  align-self: center;
  z-index: 10;

  font-size: var(--star-size);
}

.RatingDisplayStar-colored {
  position: absolute;
  width: 100%;

  z-index: 11;
  overflow: hidden;
}

.RatingDisplayStar-colored.partial {
  width: var(--partial-percentage);
}
