.RatingDisplay {
  display: flex;

  --star-size: 34px; /* custom property value, set from RatingDisplay component */
  --partial-percentage: 50%; /* custom property value, set from RatingDisplay component */
}
