.RatingDisplayStar {
  display: flex;
  position: relative;
  align-self: center;
  z-index: 10;
}

.RatingDisplayStar-filled {
  position: absolute;
  width: 100%;

  z-index: 11;
  overflow: hidden;
}
